@model IEnumerable<CandidateManagemente.Application.DTO.CandidatesDto>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/table.css">
</head>
<body>
    <div class="container">
        <a asp-action="Create" class="btn btn-primary float-right">Create New</a>
        <h2 class="font-weight-bold">List of candidates</h2>
        <ul class="responsive-table">
            <li class="table-header">
                <div class="col">First Name</div>
                <div class="col">Last Name</div>
                <div class="col">BirthDate</div>
                <div class="col">Email</div>
                <div class="col">Actions</div>
            </li>
            @foreach (var d in Model)
            {
                <li class="table-row">
                    <div class="col" data-label="First Name">@d.Name</div>
                    <div class="col" data-label="Last Name">@d.Surname</div>
                    <div class="col" data-label="BirthDate">@d.BirthDate</div>
                    <div class="col" data-label="Email">@d.Email</div>
                    <div class="col" data-label="Actions">
                        <a asp-action="Edit" asp-route-id="@d.IdCandidate"><i class="fa-solid fa-pen-to-square mr-2" title="Edit"></i></a>
                        <a href="@Url.Action("Details", new { id = d.IdCandidate })" class="modal-link" data-modal-title="Candidate Details">
                            <i class="fa-solid fa-circle-info mr-2" title="Detail"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@d.IdCandidate"><i class="fa-solid fa-trash mr-2" title="Delete"></i></a>
                    </div>
                </li>
            }
        </ul>
        @await Html.PartialAsync("_ModalGeneric")
    </div>
    <script src="~/js/candidate-details.js"></script>
</body>
</html>
